<h1>Trivia Squad Pro</h1>
<p>
    <%= link_to "All Trivia Squads", teams_path %> | 
    <%= link_to "All Players", players_path %> | 
    <%= link_to "Join a Trivia Squad", new_trivia_squad_path %>
</p>
<h2>Update Player Account</h2>
<%= render "player.form" %>